.about-wrapper{
  position: relative;
  min-height: 800px;
}

.first_txt{
  position: absolute;
  top: -16.9%;
  left: 53%;
  transform: translate(-50%,0%);

}

.first_img{
  position: absolute;
  width: 50%;
  top: -57%;
  left: 7%;

  img{
    width: 100%;
    height: 100%;
  }
}

.secound_img{
  position: relative;
  width: 71%;
  height: 976px;
  margin-right: 0;
  margin-left: auto;
  padding-top: 200px;

  img{
    width: 100%;
    height: 100%;
  }

  .secound_txt{
    position: absolute;
    top: 30%;
    left: -28%;
  }
}

@media (max-width: 768px){
  .first_txt{
    left: 53%;
  }

  .first_img{
    top: -30%;
  }

  .secound_img{
    height: auto;

    .secound_txt{
      top: 60%;
   
    }
  }

}


@media (max-width: 650px){
  .first_txt{
    left: 50%;
    width: 80%;
    top: -22%;
  }

  .secound_img{
    height: auto;

    .secound_txt{
      top: 65%;
   
    }
  }
}