.finder-wrapper{
  text-align: center;
  min-height: 1000px;
  position: relative;
}

.finder_body{
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.map{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 100px 0 50px 0;
  cursor: pointer;
  justify-content: center;
}

.box{
  width: 80px;
  height: 80px;
  border-top: 5px solid $color-light;
  border-left: 5px solid $color-light;

  &.active{
    background-color: $color-path;
  }
  &.selected{
    background-color: $color-selected;
    
  }

  &.start{
    background-color: $color-start;
  }

  &.end{
    background-color: $color-end;
  }

}

.box-bottom{
  border-bottom: 5px solid $color-light;
}

.box-right{
  border-right: 5px solid $color-light;
}

@media (max-width: 768px){
  .map{
    width: 350px;
  }

  .box{
    width: 35px;
    height: 35px;
  }
}