*, *::before, *::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: $color-dark;
  color: $color-light;
  font-family: $font-text;
  font-weight: $font-regular;
  position: relative;
}