.container{
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 ;
}

.logo{
  margin: 0 auto;
  width: 1098px;
}

section{
  margin: 100px 0;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}