.logo{
    text-transform: uppercase;
    font-weight: $font-black;
    .logo_title{
        font-size: 100px;
        letter-spacing: 60px;
        margin-top: 210px;
        margin-bottom: 0px;
    }
    .logo_subtitle{
        font-size: 36px;
        letter-spacing: 6px;
        margin: 0;
        text-align: right;
    }
}
