/* Variables */

$color-dark: #131313;
$color-light: #fff;
$color-path: #c24e00;
$color-start: #2ecc71;
$color-end: #e74c3c;

$font-text: 'Source Sans 3', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;